*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  padding: 2.8rem 2rem;
  background-color: rgb(15, 20, 70);
  button {
    color: white;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    text-transform: capitalize;
    margin-right: 1.5rem;
    cursor: pointer;
  }
}
.array-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  .array {
    display: flex;
    height: 700px;
    width: 700px;
  }
}

.item {
  width: 2rem;
  transition: 0.1s ease-in height;
  background-color: #04948a;
  margin-left: 0.2rem;
}
